input {
  color: black;
}

.page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73ce7, #23a6d5, #23d5ab);
  background-size: 400%, 400%;
  //animation: animateBackground 10s ease-in-out infinite;

  font-family: "Montserrat", sans-serif;

  &__header {
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
  }

  &__img {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

@keyframes animateBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.login,
.register {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 60vh;

  &__header,
  &__header {
    padding: 5px 0;
    text-align: center;
    width: 230px;
    display: inline-block;
    background-color: #0078e7;
  }

  &__link,
  &__link {
    text-decoration: none;
    margin-left: 10px;
    color: white;
  }

  &__link:hover,
  &__link:hover {
    text-decoration: underline;
  }

  &__button-and-link,
  &__button-and-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  &__table {
    font-size: 16px;
    margin-top: 30px;
    background-color: white;
  }

  &__row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }

  &__login {
    text-align: center;
  }
}

.navigation {
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__item {
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    transition: all 300ms;
  }

  &__item:hover {
    color: white;
    background-color: #0078e7;
    cursor: pointer;

    .navigation__link {
      color: white;
    }
  }

  &__link {
    color: #0078e7;
    transition: all 300ms;
  }
}
